@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 65px;
    

}

.container{ 
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: y mandatory;
    scroll-snap-align: start;
}

h1 {
    text-shadow: 2px 2px 4px #000;
}

body{
    margin: 0;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: y mandatory;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(36,164,138);
    padding-top: 100px;

}

.two {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8a334;
    padding-top: 120px;


}

.three {

}

.four {

}



.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
   
}

.heading {
    color:rgb(214, 163, 86);
}

.heading2 {
    color:rgba(0, 94, 73, 0.918);
}

.frame {
    border: 8px outset #d6a356; /* Border properties (width, style, color) */
    border-bottom: 100px;
    border-top: 180px;
    padding-left: 10px;
    padding-right: 10px;

    border-radius: 69px; /* Add rounded corners to the frame */
}
