@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 65px;
    

}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one { 
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    background-color: #330f06;
    padding-top: 100px;
   

}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.heading {
    color:rgb(214, 163, 86);
}

.frame {
    border: 8px outset #d6a356; /* Border properties (width, style, color) */
    border-bottom: 100px;
    border-top: 180px;
    padding-left: 10px;
    padding-right: 10px;

    border-radius: 69px; /* Add rounded corners to the frame */
}